html, body{
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

main {
  min-height: 100vh;
  background-color: black;
  background-image: radial-gradient(circle farthest-side, rgba(15, 14, 22, 0.3), #100e17d1), url('./night-field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

a {
  color: inherit;
}

.wrapper {
  text-align: center;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  border-radius: 4%;
  background-color: rgba(255,160,122, 0.2);
  padding: 20px;
}

.social {
  padding: 0 8px;
  text-decoration: none;
}

.github, .linkedin {
  max-width: 45px;
  filter: blur(2px);
  transition-property: filter;
  transition-duration: 0.75s;
}

.github:hover, .linkedin:hover {
  filter: blur(0px);
}

.credit {
  font-size: .8rem;
  margin: 0;
  padding: 16px;
  color: white;
  text-align: right;
}
